################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Val2/.vs/Val2
/src/Val2/val2/obj/Debug
/node_modules/.bin
/node_modules
